In [1]:
#Import necessary libraries
from sqlalchemy import create_engine
import mysql.connector
import pymysql
import mysql.connector as connection
import pandas as pd

In [7]:
#connecting mysql database
db_connection_str = 'mysql+pymysql://root:olorun96@localhost:3306/scd2_project'
db_connection = create_engine(db_connection_str)

In [8]:
#convert database to dataframe
df = pd.read_sql('SELECT * FROM mall_customers', con=db_connection)

In [9]:
#connecting mysql database
db = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "olorun96",
    database = "scd2_project")

In [10]:
mycursor = db.cursor()

In [11]:
#creating a target table
mycursor.execute("CREATE TABLE CustomersSCD2_table (CustomerID INTEGER NOT NULL, `Annual_Income_(k$)` INTEGER NOT NULL, Spending_Score INTEGER NOT NULL, Status VARCHAR(255) NOT NULL)")

In [12]:
#selecting the empty target table
cus_SCD_df = pd.read_sql('SELECT * FROM CustomersSCD2_table', con=db_connection)

In [14]:
c_fload_df=df[['CustomerID', 'Annual_Income_(k$)', 'Spending_Score']]
#for first time load versioning is active to identify records as latest
c_fload_df['Status']='active'

C:\Users\Evelyn\AppData\Local\Temp\ipykernel_16600\2723964519.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c_fload_df['Status']='active'

In [15]:
#insert records into CustomersSCD2_table
c_fload_df.to_sql('CustomersSCD2_table', con=db_connection, if_exists='append',index=False)

C:\Users\Evelyn\anaconda3\New folder\New folder\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CustomersSCD2_table' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

200

In [16]:
#selecting source table after new rows have been inserted and some rows have been updated
mall_src=pd.read_sql('SELECT * FROM mall_customers', con=db_connection)
mall_src

     CustomerID   Genre  Age  Annual_Income_(k$)  Spending_Score
0             1    Male   19                  15              39
1             2    Male   21                  15              81
2             3  Female   20                  16               6
3             4  Female   23                  16              77
4             5  Female   31                  17              40
..          ...     ...  ...                 ...             ...
198         199    Male   32                 137              18
199         200    Male   30                 137              83
200         201  Female   43                 128              45
201         202  Female   34                 103              56
202         203    Male   36                 165              67

[203 rows x 5 columns]

In [17]:
#viewing the target table
mall_scd=pd.read_sql_query('select * FROM CustomersSCD2_table',con=db_connection)

     CustomerID  Annual_Income_(k$)  Spending_Score  Status
0             1                  15              39  active
1             2                  15              81  active
2             3                  16               6  active
3             4                  16              77  active
4             5                  17              40  active
..          ...                 ...             ...     ...
195         196                 120              79  active
196         197                 126              28  active
197         198                 126              74  active
198         199                 137              18  active
199         200                 137              83  active

[200 rows x 4 columns]

In [18]:
#rename columns to source and target for identification
mall_src=mall_src[['CustomerID','Annual_Income_(k$)','Spending_Score']]
mall_src.rename(columns={'CustomerID':'CustomerID_src','Annual_Income_(k$)':'Annual_Income_(k$)_src','Spending_Score':'Spending_Score_src'},inplace=True)
mall_scd.rename(columns={'CustomerID':'CustomerID_tgt','Annual_Income_(k$)':'Annual_Income_(k$)_tgt','Spending_Score':'Spending_Score_tgt'},inplace=True)
#left join both the source and target dataframes to identify new records
join_df=pd.merge(mall_src,mall_scd,left_on='CustomerID_src',right_on='CustomerID_tgt',how='left')

C:\Users\Evelyn\AppData\Local\Temp\ipykernel_16600\3939312317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mall_src.rename(columns={'CustomerID':'CustomerID_src','Annual_Income_(k$)':'Annual_Income_(k$)_src','Spending_Score':'Spending_Score_src'},inplace=True)

In [20]:
#identifying the new records inserted in the source table
join_df['INS_Status']=join_df[['CustomerID_src','CustomerID_tgt']].apply(lambda x:'I' if pd.isnull(x[1]) else 'N', axis=1)
#creating a new dataframe for identified records
ins_rec=join_df[join_df['INS_Status']=='I']
#renaming the columns
ins_rec=ins_rec[['CustomerID_src','Annual_Income_(k$)_src','Spending_Score_src']]
ins_rec.rename(columns={'CustomerID_src':'CustomerID','Annual_Income_(k$)_src':'Annual_Income_(k$)','Spending_Score_src':'Spending_Score'},inplace=True)
ins_df=ins_rec[['CustomerID','Annual_Income_(k$)','Spending_Score']]
ins_df['Status']='active'

In [27]:
#inserting the new records into the scd or target table
ins_df.to_sql('CustomersSCD2_table', con=db_connection, if_exists='append',index=False)

C:\Users\Evelyn\anaconda3\New folder\New folder\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CustomersSCD2_table' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

3

In [28]:
#identifying the updated record in the source table
join_df['INS_UPD_active']=join_df[['CustomerID_src','CustomerID_tgt', 'Annual_Income_(k$)_src','Annual_Income_(k$)_tgt','Spending_Score_src','Spending_Score_tgt']].apply(lambda x:'UI' if x[0]==x[1] and x[2]!=x[3] else 'N', axis=1)
#creating a new dataframe for identified records
ins_upd_rec=join_df[join_df['INS_UPD_active']=='UI']
#renaming the columns
ins_upd_rec=ins_upd_rec[['CustomerID_src','Annual_Income_(k$)_src','Spending_Score_src']]
ins_upd_rec.rename(columns={'CustomerID_src':'CustomerID','Annual_Income_(k$)_src':'Annual_Income_(k$)','Spending_Score_src':'Spending_Score'},inplace=True)
ins_upd_rec['Status']='active'

In [ ]:
ins_upd_rec

In [35]:
#updating the status of records in which annual income change is detected
import sqlalchemy as sqla
from sqlalchemy.orm import sessionmaker
metadata = sqla.MetaData(bind=db_connection)
datatable = sqla.Table('CustomersSCD2_table', metadata, autoload=True)
Session = sessionmaker(bind=db_connection)
session = Session()
#Status updation process to mark them as previous records
for ind, row in ins_upd_rec.iterrows():
    upd=sqla.sql.update(datatable)\
        .values({'Status':'inactive'})\
        .where (sqla.and_(datatable.c.CustomerID==row.CustomerID))
    session.execute(upd)
session.flush()
session.commit()

In [36]:
#inserting the new records into the scd or target table
ins_upd_rec.to_sql('CustomersSCD2_table', con=db_connection, if_exists='append',index=False)

C:\Users\Evelyn\anaconda3\New folder\New folder\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'CustomersSCD2_table' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

3